.listPage{
    display: flex;


    .listContainer{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;


        .wrapper{
            padding-right: 50px;
        }
    }
}