.searchBar{
    .category{
        button{
            padding: 16px 32px;
            border: 1px solid #f0ead6;
            color: #f0ead6;
            cursor: pointer;
            background-color: transparent;

            &.active{
                color: #3a0303;
                background-color: #f0ead6;
            }
        }
    }
    .searchIcon{
        width: 16px;
        height: 16px;
    }
}