@import '../../responsive.scss';

.homePage{
    display: flex;
    flex-direction: column;

    .textContainer{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 72px;
        font-weight: bolder;
        margin-bottom: 80px;
        padding-top: 80px;
        color: #f0ead6;

        @include xs{
            font-size: 32px;
            padding-top: 42px;
        }

        @include sm{
            font-size: 54px;
            padding-top: 60px;
        }
        @include md{
            font-size: 64px;
            padding-top: 70px;
        }
    }
    .stats{
        display: flex;
        justify-content: space-between;
        color: #f0ead6;

        h1{
            font-size: 36px;
            font-weight: bold;
            margin-bottom: 10px;
        }
        h2{
            font-size: 16px;
            font-weight: 200;
        }

        .stat{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }

    .imgContainer{
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            width: 90%;
            height: auto;
            border-radius: 16px;
            border: 6px solid #f0ead6;
            // box-shadow: 0 4px 8px #f0ead6;
        }
    }
}