@import "../../responsive.scss";

.singlePage{
    display: flex;
    height: 100%;

    @include md{
        flex-direction: column;
        overflow: scroll;
    }
    @include sm{
        flex-direction: column;
        overflow: scroll;
    }
    @include xs{
        flex-direction: column;
        overflow: scroll;
    }

    .details{
        flex: 3;
        height: 100%;
        overflow-y: scroll;

        @include md{
            flex: none;
            height: max-content;
        }
        @include sm{
            flex: none;
            height: max-content;
        }
        @include xs{
            flex: none;
            height: max-content;
        }

        .wrapper{
            padding-right: 50px;

            .info{
                margin-top: 32px;
                .top{
                    display: flex;
                    justify-content: space-between;
                    .post{
                        display: flex;
                        flex-direction: column;
                        gap: 16px;
                        .location{
                            display: flex;
                             font-size: 16px;
                             color: #f0edf0;
                             font-weight: 600;
                             align-items: center;
                             transition: all 0.4s ease;

                             &:hover{
                                 scale: 1.05;
                             }

                             img{
                                 width: 16px;
                                 height: 16px;
                                 margin-right: 4px;
                             }
                        }
                        .distance{
                            font-size: 12px;
                            color: #f0edf0;
                        }
                        .price{
                            font-size: 12px;
                            padding: 4px;
                            border-radius: 4px;
                            background-color: #e67e22;
                            color: #f0edf0;
                            width: max-content;

                            span{
                                font-size: 16px;
                                font-weight: 600;
                            }

                        }
                    }
                    .user{
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        justify-content: center;
                        gap: 8px;
                        padding: 0px 24px;
                        border-radius: 8px;
                        color: #f0edf0;
                        // font-weight: 600;
                        background-color: #f0edf020;
                        img{
                            width: 50px;
                            height: 50px;
                            border-radius: 50%;
                            object-fit: cover;
                        }
                    }
                }
                .bottom{
                    margin-top: 32px;
                    color: #f0edf0;
                    line-height: 20px;
                    font-size: 14px;
                    margin-bottom: 32px;

                }
            }
        }

    }
    .features{
        flex: 2;
        background-color: #f0edf0;
        height: 100%;
        overflow-y: scroll;

        @include md{
            flex: none;
            height: max-content;
        }
        @include sm{
            flex: none;
            height: max-content;
        }
        @include xs{
            flex: none;
            height: max-content;
        }

        .wrapper{
            padding: 20px 20px 60px 20px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            background-color: #e67e2220;

            img{
                width: 24px;
                height: 24px;
            }
            .title{
                font-size: 20px;
                font-weight: 600;
                margin-top: 16px;
            }
            .feature{
                display: flex;
                align-items: center;
                gap: 12px;

                img{
                    width: 24px;
                    height: 24px;
                }

                .featureText{
                    span{
                        font-weight: bold;
                    }
                    p{
                        font-size: 14px;
                    }
                }
            }
            .listVertical{
                display: flex;
                flex-direction: column;
                gap: 8px;
                padding: 20px 12px;
                background-color: #f0edf0;
                border-radius: 8px;
            }
            .listHorizontal{
                display: flex;
                justify-content: space-between;
                padding: 20px 12px;
                background-color: #f0edf0;
                border-radius: 8px;
                // overflow-x: auto;

            }
            .sizes{
                display: flex;
                justify-content: space-between;

                @include lg{
                    font-size: 12px;
                }
                // @include xs{
                //     flex-direction: column;
                //     gap: 12px;
                // }

                .size{
                    display: flex;
                    align-items: center;
                    gap: 12px;
                    background-color: #f0edf0;
                    padding: 12px;
                    border-radius: 8px;

                    span{
                        font-size: 16px;
                        font-weight: 600;
                    }
                }
            }

            .buttons{
                display: flex;
                // justify-content: space-between;
                gap: 24px;

                .messageButton{
                    padding: 16px 20px;
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    background-color: #e67e22;
                    color: #f0edf0;
                    border: 1px solid #e67e22;
                    border-radius: 8px;
                    cursor: pointer;
                    font-size: 16px;

                    img{
                        width: 20px;
                        height: 20px;
                    }
                }
                    .shareButton{
                        background-color: #f0edf0;
                        padding: 16px 20px;
                        display: flex;
                        align-items: center;
                        gap: 8px;
                        color: #e67e22;
                        border: 1px solid #e67e22;
                        border-radius: 8px;
                        cursor: pointer;
                        font-size: 16px;

                        img{
                            width: 20px;
                            height: 20px;
                    }
            }
        }

    }
}
}